extends layout

block content
  div.canvas
    canvas#myCanvas(height='200', width='1150')
  div#audio
    audio#player(controls)
    //- iframe#player(height='100', width='300')
  .search
    h1 Artists
    form
      input#search(type='text')
      br
      input#search-button(type='button', value='Search')
  .results
  script(src='../javascripts/dom.js')
